<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width" />
  <title>Mercadinho do Jorge</title>
  <style>
    .edit:focus, .edit:hover {
    text-decoration: none !important;
    color: #337ab700 !important;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse" style="display:inline-flex">
  <div class="container-fluid" style="
    width: 70vw;
    float: left;
    margin-right: 0;
    padding-right: 0">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/}">Mercadinho do Jorge</a>
    </div>
    <ul class="nav navbar-nav">
      <li> <a th:href="@{/}">Estoque</a></li>
      <li><a th:href="@{/sell}">Vendas</a>
      </li>
    </ul>
  </div>
  <div style="
    width: 30vw;
    text-align: end;
    padding: 11pt">
    <a th:href="@{/logout}" alt="Sair" title="Sair"><iconify-icon icon="majesticons:door-exit-line" style="color: white" width="20" height="20"></iconify-icon></a>
  </div>
</nav>
<section layout:fragment="content"></section>
<!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
<script th:inline="javascript">
var url_base = '/';
var id_user = '';

$('button[id*="btn_"]').click(function () {
    id_user = $(this).attr('id').split("_")[1];
    url = url_base + id_user;
});

$('#ok_confirm_exclusao').click(function () {
    document.location.href = url;
});

/* Formatting function for row details - modify as you need */
function format(d) {
    // `d` is the original data object for the row
    let linhas = '';
    let i = 0;
    for (;i < d.items.length; i++) {
        linhas = linhas +
            '<tr>' +
              '<td><b>Desc. item:</b> ' + d.items[i].productName + '<b>, Quantidade: </b> ' + d.items[i].quantity + '<b>, subtotal: </b> ' + d.items[i].subTotal + '</td>' +
            '</tr>'
    }
    return (
        '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' + linhas + '</table>'
    );
}

$(document).ready(function () {
    var table = $('#example').DataTable({
        "language": {
            "lengthMenu": " _MENU_ Linhas por página",
            "zeroRecords": "Nenhum registro encontrado",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Nenhum resultado",
            "infoFiltered": "(filtrados de  MAX registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            }
        },
        data: [[${sales}]],
        columns: [
            {
                className: 'dt-control',
                orderable: false,
                data: null,
                defaultContent: '',
            },
            { data: 'clientName' },
            { data: 'paymentType' },
            { data: 'date' },
            { data: 'valueTotal' }
        ],
        order: [
            [1, 'asc']
        ],
    });

    // Add event listener for opening and closing details
    $('#example tbody').on('click', 'td.dt-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);

        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        } else {
            // Open this row
            row.child(format(row.data())).show();
            tr.addClass('shown');
        }
    });
});
$("#autocomplete").autocomplete({
	source : function(request, response) {
		$.ajax({
			method : "GET",
			url : "/find",
			contentType: "application/json;charset=utf-8",
			cache: false,
			data : {
				value: request.term,
			},
			success : function(result) {
				response($.map(result, function(item){
					return {
					    id: item.id,
						name: item.name,
						label: item.name,
						price: item.price,
						quantity: item.quantity
					}
				}));
				console.log(result);
			},
		});
	},
	minLength: 1,
	select: function(event, ui, objeto) {
      	$('#table tbody').append('<tr id="' + ui.item.id + '">'+
      	'<td>' + ui.item.name + '</td>' +
      	'<td>' + 'R$ ' + ui.item.price.toFixed(2) + '</td>' +
      	'<td>' + ui.item.quantity + '</td>' +
      	'<td>' + 'R$ ' + (ui.item.price * ui.item.quantity).toFixed(2) + '</td>' +
      	'<td> <a onClick="deleteRow(' + ui.item.id +')">Excluir</a>' +
                '</td>'
      	+'</tr>');
	},
});

let ids = $('table tr[id]').map(function() { return this.id; }).get();

function deleteRow(id) {
 let row = document.getElementById(id);
    row.parentNode.removeChild(row);
}
</script>
</body>
</html>