<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Produtos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse" style="display:inline-flex">
    <div class="container-fluid" style="
    width: 70vw;
    float: left;
    margin-right: 0;
    padding-right: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mercadinho do Jorge</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Estoque</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
    <div style="
    width: 30vw;
    text-align: end;
    padding: 11pt">
    <a th:href="@{/logout}" alt="Sair" title="Sair"><iconify-icon icon="majesticons:door-exit-line" style="color: white" width="20" height="20"></iconify-icon></a>
    </div>
</nav>

<div class="panel panel-default" style="margin: 10px">

    <div class="panel-heading">
        <h1 class="panel-title">Produtos Disponíveis</h1>
    </div>
    <div class="panel-body">
        <div th:replace="Alerts"></div>
        <form class="form-inline" method="POST" th:action="@{/}" style="margin: 20px 0" th:object="${product}">
            <div class="form-group">
                <input type="hidden"
                       th:field="*{id}"/>
                <input type="text" class="form-control"
                       placeholder="Nome" required="required"
                       th:field="*{name}"/>
                <input type="text" class="form-control" maxlength="7" placeholder="0.0"
                       th:field="*{price}"/>
                <input type="number" class="form-control"
                       placeholder="Qtd" required="required"
                       th:field="*{quantity}" max="10000" min="0"/>
                <button type="submit"
                        th:class="${id == null} ? 'btn btn-primary' : 'btn btn-warning'"
                        th:text="${id == null} ? 'Adicionar' : 'Salvar edição'"
                >Salvar</button>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td><a class="btn"
                       th:href="@{/edit/{id} (id=${product.id}) }">Editar</a></td>
                <td>
                    <button th:id="${ 'btn_delete/' + product.id}" type="button" class="btn"
                            data-toggle="modal" data-target="#myModal">
                        Excluir
                    </button>
                </td>
            </tr>
            </thead>
            </tbody>
        </table>
    </div>
    <div th:replace="Modal :: modal"></div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>
var url_base = '/';
var id_user = '';

$('button[id*="btn_"]').click(function() {
    id_user = $(this).attr('id').split("_")[1];
    url = url_base + id_user;
});

$('#ok_confirm_exclusao').click(function() {
    document.location.href = url;
});
</script>
</body>
</html>