<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorate="~{Layout.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Produtos</title>
</head>

<section layout:fragment="content" class="panel panel-default" style="margin: 10px">

    <div class="panel-heading">
        <h1 class="panel-title">Produtos Disponíveis</h1>
    </div>
    <div class="panel-body">
        <div th:replace="Alerts"></div>
        <form class="form-inline" method="POST" th:action="@{/}" style="margin: 20px 0" th:object="${product}">
            <div class="form-group">
                <input type="hidden"
                       th:field="*{id}"/>
                <input type="text" class="form-control"
                       placeholder="Nome" required="required"
                       th:field="*{name}"/>
                <input type="text" class="form-control" maxlength="7" placeholder="0.0"
                       th:field="*{price}"/>
                <input type="number" class="form-control"
                       placeholder="Qtd" required="required"
                       th:field="*{quantity}" max="10000" min="0"/>
                <button type="submit"
                        th:class="${id == null} ? 'btn btn-primary' : 'btn btn-warning'"
                        th:text="${id == null} ? 'Adicionar' : 'Salvar edição'"
                >Salvar</button>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td><a class="edit" th:href="@{/edit/{id} (id=${product.id}) }" alt="Editar" title="Editar">
                    <iconify-icon icon="material-symbols:edit-document-outline" style="color: black" width="20" height="20" ></iconify-icon>
                </a>
                    <button th:id="${ 'btn_delete/' + product.id}"
                            data-toggle="modal" data-target="#myModal" alt="Excluir" title="Excluir" style="border: none; background-color: rgb(0 0 0 / 0%)">
                        <iconify-icon icon="ion:trash" style="color: black" width="20" height="20" ></iconify-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="Modal :: modal"></div>
</section>
<div layout:fragment="scripts"></div>
</html>