<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorate="~{Layout.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Vendas</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
</head>

<section layout:fragment="content" class="panel panel-default" style="margin: 10px">
    <div class="panel-heading">
        <h1 class="panel-title">Vendas</h1>
    </div>
    <div class="panel-body">
    <div th:if="${#lists.isEmpty(sales)}">
        <div class="alert alert-danger">Não há vendas no histórico</div>
    </div>
        <div class="center">
        <a role="button" th:href="@{/sell/new}">Nova venda</a>
        </div>
    <div th:if="${not #lists.isEmpty(sales)}">
        <hr>
    <h4>Histórico de Vendas</h4>

    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th></th>
            <th>Nome do cliente</th>
            <th>Forma de pagamento</th>
            <th>Data</th>
            <th>Valor total</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th></th>
        </tr>
        </tfoot>
    </table>
    </div>
    </div>

</section>
</html>